body {
    font-size: 15px;
    margin: 0;
    height: 100%;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: -webkit-sticky; /* Safari */
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #289D8C;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

  .header-image { 
    background-image: url("images/hoverimage.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .header-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
  }

  .profile-div {
    margin-top: 10%;
  }

  .profile-pic {
    width: 100px;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #header-h1 {
    font-family: Helvetica;
    font-style: italic;
    font-weight: lighter;
    color: white;
    text-align: center;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.5);
  }

  #header-2 {
    font-family: Helvetica;
    font-style: italic;
    color: #289D8C;
    text-align: center;
  }

  #header-3 {
    font-family: Helvetica;
    font-style: italic;
    color: #289D8C;
    text-align: center;
    margin-top: 40px;
  }

  #header-4 {
    font-family: Helvetica;
    font-style: italic;
    color: #289D8C;
    text-align: center;
    margin-top: 40px;
  }

  .projects {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }

  .project-pic {
    width: 250px;
    height: auto;
    border-top-left-radius: 20% 20%;
    border-top-right-radius: 20% 20%;
    border-bottom-right-radius: 20% 20%;
    border-bottom-left-radius: 20% 20%;

  }

  .project-text {
    display: flex;
    font-family: Helvetica;
    font-style: italic;
    color: #289D8C;
    align-items: center;
  }

  .images {
    box-sizing: border-box;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    display: flex;
  }

  .img-column {
    flex: 33.33%;
    padding: 5px;
  }

  .photos-pic {
    width: 100%;
    height: 100%;
  }

  .images-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
  }

  .img-column-2 {
    width: 25%;
  }

  .photos-pic-2 {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .img-column-right {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
  }

  .photos-pic-right {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .header-image:hover .header-text {
    visibility: visible;
    opacity: 1;
  }

  .hor-line {
    border: 1px solid #289D8C;;
    border-radius: 5px;
    width: 25%;
  }



  
  
  